.projects {
    position: relative;
    width: 487px;
    border-radius: 10px;
    background-color: #323C55;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
}