.Card {
    display: flex;
    justify-content: center;
    width: 50vw;
    margin-bottom: 2rem;
    margin-top: 2rem;

    .ui.card,
    .ui.cards>.card {
        background-color: #2F2E4B;
        padding: 2rem;
        border: none;
    }
}