@media(min-width: 1150px) {
    .info-form {
        max-width: 30%;
        line-height: 1.4rem;
        background-image: url(../../assets/img/world.png);
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
    }

    .input-area {
        flex: 0 0 66%;
    }
}

@media(max-width: 1150px) {
    .info-form {
        max-width: 80%;
        font-size: 32px;
        line-height: 2.5rem;
        margin-bottom: 2em;
        background-image: url(../../assets/img/world.png);
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
    }

    .input-area {
        flex: 0 0 100%;
    }
}