.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.resume {
    width: 40vw;
    margin: 0 3rem 3rem 3rem;
    line-height: 1.2rem;
    border-radius: 20px;
    background-color: #323C55;
    padding: 20px;
}

.profile-pic {
    position: absolute;
    margin-bottom: 3rem;
}