.row {
    display: flex;
    align-items: center;
}

.resume {
    width: 40vw;
    margin: 3rem;
    line-height: 1.2rem;
    border-radius: 20px;
    background-color: #323C55;
    padding: 20px;
}

.profile-pic {
    position: absolute;
    margin-bottom: 3rem;
}