.row {
    display: flex;
    align-items: center;
}

.resume {
    width: 40vw;
    margin: 3rem;
    letter-spacing: 1px;
    line-height: 1.2rem;
    border-radius: 20px;
    background-color: #323C55;
    padding: 20px;
}

.line {
    height: 2px;
    width: 2em;
    background-color: #8B5FE7;
    Margin-right: 0.5rem;
}

.line-display {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.profile-pic {
    position: absolute;
    margin-bottom: 3rem;
}